@page
@model WebApplication8.Pages.profileModel
@{
    ViewData["Title"] = "Profiling";
}
<h1 class="text-center">Profiling</h1>

<strong>Time taken to execute for Loop:</strong> <code>@Model.totalTime</code> <strong>Milliseconds</strong>